@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
section {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	height: 80vh;
}
.login-form {
	position: relative;
}
.login-form .logo {
	text-align: center;
	margin-bottom: 60px;
}
.login_box {
	width: 400px;
	position: relative;
	margin: 20px auto;
	text-align: center;
}
.login_box:first-child {
	margin-top: 0;
}
.login_box input {
	width: 320px;
	padding: 20px 10px 10px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #999;
	font-size: 18px;
	outline: none;
}
.login_box label {
	position: absolute;
	left: 32px;
	top: 15px;
	font-size: 18px;
	color: #999;
	transition: all .5s ease;	
}
.login_box label.warning {
	color: red !important;
	animation: warning .3s ease;
	animation-iteration-count: 3;
}
@keyframes warning {
	0% {transform: translateX(-8px);}
	25% {transform: translateX(8px);}
	50% {transform: translateX(-8px);}
	75% {transform: translateX(8px);}
}
.login_box input:focus + label,
.login_box input:valid + label {
	top: -2px;
	font-size: 13px;
	color: #166cea; /*로그인시 아이디 입력란을 클릭하면 USER ID 색이 바뀌면서 올라간다.*/
}		
.btn_box {
	margin-top: 30px;
	text-align: center;
}
.btn_box button {
	width: 340px;
	height: 40px;
	font-size: 20px;
	cursor: pointer;
	background-color: #D5C2EE;
	color: white;
	border: 0;
	border-radius: 3px;
}
.btn_box button:hover {
	background-color: #FFBEBE;
}
.caption {
	margin-top: 20px;
	text-align: center;
}
.caption a {
	width: 100%;
	font-size: 15px;
	color: #D5C2EE;
	font-weight: 600;
	text-decoration: none;
	padding: 30px; 
}
.caption a:hover {
	color: #FFBEBE;
}