@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}
section {
	width: 700px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	line-height: 50px;
}
section span {
	display: inline;
	font-size: 20px;
	font-weight: bold;
	color: #D5C2EE;
}
.container {
	width: 500px;
	margin: 0 auto;
}
.pageTitle {
	text-align: center;
}	
.update_addr {
	width: 300px;
	margin-top: 40px;
	margin-left: 150px;
	display: flex;
}
section .addr_title {
	margin: 3px 5px;
}
section label {
	color: #9d73d7;
	font-size: 14px;
	font-weight: 700;
}
.addr_info {
	width: 350px;
	margin-bottom: 5px;
}
.addr_info input[type=text] {
	width: 200px;
	padding: 10px 15px;
	box-sizing: border-box;
	border: 1px solid #2964E0;
	border-radius: 3px;
	outline: none;
}
.addr_info input[type=button] {
	width: 80px;
	height: 40px;
	box-sizing: border-box;
	background-color: #D5C2EE;
}
.addr_info input[type=button]:hover {
	background-color: #FFBEBE;
}
.btn_primary {
	border: none;
	box-shadow: 1px 1px 3px 1px #dadce0 inset;
	border-radius: 5px;
	background-color: #D5C2EE;
	cursor: pointer;
}
.btn_primary:hover {
	background-color: #FFBEBE;
} 
.update_btn {
	width: 200px;
	margin-top: 20px;
	padding: 15px 0 15px;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	background-color: #D5C2EE;
}