@charset "UTF-8";
h3 {
	margin: 0 auto;
	padding: 10px 10px;
	border-bottom: 1px solid #adbac790; 
	color: #539bf5;
}

table {
	border: 1px solid #adbac790;
	border-collapse: collapse;
	margin: 10px auto;
}
td, th {
	padding: 8px 10px;
	border-bottom: 1px solid #adbac790;
}

tfoot input {
	background: none;
	border: none;
	color: #539bf5;
}
tfoot input:hover {
	color: #539bf560;
}
tfoot input[value="이용/탈퇴 변경"] {
	color: #ff0000;
}
tfoot input[value="이용/탈퇴 변경"]:hover {
	color: #ff000060;
}